<div class="product-list mt-2 p-3">
  <!-- <div class="popular mt-2">Popular products</div> -->
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of homeProducts">
      <div class="product-item">
        <a routerLink="/detail/{{item.id}}">
        <img src="{{item.image}}" alt="">
      </a>
      <div class="product-details">
        <h6 class="name-head">{{item.name}}</h6>
        <div class="product-price">
          <h6>Price:{{item.price}}</h6>
        </div>
        <div class="product-color">
          <h6>Color:{{item.color}}</h6>
        </div>
      </div>
      <div class="product-footer">
        <button><a routerLink="/detail/{{item.id}}">View Details</a></button>
        <button><a routerLink="/checkout">Buy now</a></button>
      </div>
      </div>
    </div>
    <div class="col-sm-3" *ngIf="homeProducts.length === 0">
      <div class="f-16">No products found.</div>
    </div>

  </div>
</div>
